<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.DeductionFormMapper" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.DeductionForm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="deduction_frequency" property="deductionFrequency" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, deduction_frequency, date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deduction_form
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getOne" resultMap="BaseResultMap" parameterType="String" >
    select 
    *
    from deduction_form
    where name = #{name} and date = #{date}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deduction_form
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.DeductionForm" >
    insert into deduction_form ( name, deduction_frequency, 
      date)
    values ( #{name,jdbcType=VARCHAR}, #{deductionFrequency,jdbcType=INTEGER}, 
      #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.DeductionForm" >
    insert into deduction_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="name != null" >
        name,
      </if>
      <if test="deductionFrequency != null" >
        deduction_frequency,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deductionFrequency != null" >
        #{deductionFrequency,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.DeductionForm" >
    update deduction_form
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="deductionFrequency != null" >
        deduction_frequency = #{deductionFrequency,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.DeductionForm" >
    update deduction_form
    set name = #{name,jdbcType=VARCHAR},
      deduction_frequency = #{deductionFrequency,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.cn.hnust.pojo.DeductionForm" >
    update deduction_form
    set 
      deduction_frequency = #{deductionFrequency,jdbcType=INTEGER}
     
    where name = #{name,jdbcType=VARCHAR} and date = #{date,jdbcType=VARCHAR}
  </update>
</mapper>