<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.ProjectInspectionReportMapper" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.ProjectInspectionReport" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="report_name" property="reportName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_no, report_name, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project_inspection_report
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project_inspection_report
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  
  <insert id="insert" parameterType="com.cn.hnust.pojo.ProjectInspectionReport" >
    insert into project_inspection_report (id, project_no, report_name, 
      create_date)
    values (#{id,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, #{reportName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.ProjectInspectionReport" >
    insert into project_inspection_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectNo != null" >
        project_no,
      </if>
      <if test="reportName != null" >
        report_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null" >
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null" >
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.ProjectInspectionReport" >
    update project_inspection_report
    <set >
      <if test="projectNo != null" >
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null" >
        report_name = #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.ProjectInspectionReport" >
    update project_inspection_report
    set project_no = #{projectNo,jdbcType=VARCHAR},
      report_name = #{reportName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 查询所以的记录信息 -->
  <select id="selectAllInspectionReport" resultMap="BaseResultMap" >
	    select 
	    <include refid="Base_Column_List" />
	    from project_inspection_report 
<!--         select p1.project_no, report_name, p1.create_date from project_inspection_report p1   -->
<!-- 		LEFT JOIN project p2 on p1.project_no = p2.project_no   -->
<!-- 		LEFT JOIN inspection_plan i1 on p1.project_no = i1.project_no -->
<!-- 		where p1.report_name like '%检验计划%' and p2.project_status in (0,1,6) and i1.id is null  -->
  </select>
  
  <!-- 查询所以的记录信息 -->
  <select id="selectInspectionReportByProjectNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from project_inspection_report
    where project_no=#{projectNo,jdbcType=VARCHAR} AND report_name!='' AND report_name not like '%检验%' ORDER BY create_date DESC
  </select>
  
  <!-- 查询最新的检验计划 -->
  <select id="selectInspectionPlanByProjectNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from project_inspection_report
    where project_no=#{projectNo,jdbcType=VARCHAR} AND report_name like '%检验%' ORDER BY create_date DESC
  </select>
  
   <!-- 批量添加图纸信息 -->
  <select id="batchAddInspectionReport" parameterType="java.util.List">
      INSERT INTO project_inspection_report(id,project_no,report_name,create_date)  VALUES
      <foreach collection="list"  item="item" separator=",">
        (#{item.id,jdbcType=VARCHAR},#{item.projectNo,jdbcType=VARCHAR},#{item.reportName,jdbcType=VARCHAR},#{item.createDate,jdbcType=TIMESTAMP}
        )
     </foreach>
  </select>
</mapper>