<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.ShippingConfirmationMapper" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.ShippingConfirmation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="shipping_way" property="shippingWay" jdbcType="VARCHAR" />
    <result column="is_boss_confirm" property="isBossConfirm" jdbcType="INTEGER" />
    <result column="check_qty" property="checkQty" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="VARCHAR" />
    <result column="open_qty" property="openQty" jdbcType="VARCHAR" />
    <result column="box_number" property="boxNumber" jdbcType="VARCHAR" />
    <result column="spend_time" property="spendTime" jdbcType="VARCHAR" />
    <result column="check_conclusion" property="checkConclusion" jdbcType="VARCHAR" />
    <result column="no_executed" property="noExecuted" jdbcType="VARCHAR" />
    <result column="concessive_accept" property="concessiveAccept" jdbcType="VARCHAR" />
    <result column="meeting_conclusion" property="meetingConclusion" jdbcType="VARCHAR" />
    <result column="not_paid" property="notPaid" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="VARCHAR" />
    <result column="customer_confirm_way" property="customerConfirmWay" jdbcType="VARCHAR" />
    <result column="is_quality_report_en" property="isQualityReportEn" jdbcType="INTEGER" />
    <result column="drawback_product" property="drawbackProduct" jdbcType="VARCHAR" />
    <result column="drawback_rate" property="drawbackRate" jdbcType="VARCHAR" />
    <result column="shipping_fee" property="shippingFee" jdbcType="VARCHAR" />
    <result column="sales_worry" property="salesWorry" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sales_confirm" property="salesConfirm" jdbcType="VARCHAR" />
    <result column="sales_confirm_time" property="salesConfirmTime" jdbcType="TIMESTAMP" />
    <result column="purchase_confirm" property="purchaseConfirm" jdbcType="VARCHAR" />
    <result column="purchase_confirm_time" property="purchaseConfirmTime" jdbcType="TIMESTAMP" />
    <result column="quality_leader_confirm" property="qualityLeaderConfirm" jdbcType="VARCHAR" />
    <result column="quality_leader_confirm_time" property="qualityLeaderConfirmTime" jdbcType="TIMESTAMP" />
    <result column="purchase_leader_confirm" property="purchaseLeaderConfirm" jdbcType="VARCHAR" />
    <result column="purchase_leader_confirm_time" property="purchaseLeaderConfirmTime" jdbcType="TIMESTAMP" />
    <result column="boss_confirm" property="bossConfirm" jdbcType="VARCHAR" />
    <result column="boss_confirm_time" property="bossConfirmTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="is_complete" property="isComplete" jdbcType="INTEGER" />
    <result column="is_plastic" property="isPlastic" jdbcType="INTEGER" />
    <result column="sample_or_product" property="sampleOrProduct" jdbcType="INTEGER" />
    <result column="first_person" property="firstPerson" jdbcType="VARCHAR" />
    <result column="first_time" property="firstTime" jdbcType="TIMESTAMP" />
    <result column="second_person" property="secondPerson" jdbcType="VARCHAR" />
    <result column="second_time" property="secondTime" jdbcType="TIMESTAMP" />
    <result column="third_person" property="thirdPerson" jdbcType="VARCHAR" />
    <result column="third_time" property="thirdTime" jdbcType="TIMESTAMP" />
    <result column="fourth_person" property="fourthPerson" jdbcType="VARCHAR" />
    <result column="fourth_time" property="fourthTime" jdbcType="TIMESTAMP" />
    <result column="complaint_id" property="complaintId" jdbcType="INTEGER" />
    <result column="sample_file_original_name" property="sampleFileOriginalName" jdbcType="VARCHAR" />
    <result column="sample_file_name" property="sampleFileName" jdbcType="VARCHAR" />
    <result column="is_send_confirm_task" property="isSendConfirmTask" jdbcType="INTEGER" />
    <result column="shipment_agreement" property="shipmentAgreement" jdbcType="VARCHAR" />
    <result column="is_quality_leader_confirm" property="isQualityLeaderConfirm" jdbcType="INTEGER" />
    
    <!-- 项目金额 -->
    <result column="project_amount" property="projectAmount" jdbcType="VARCHAR" />
    <result column="purchase_name" jdbcType="VARCHAR" property="purchaseName" />
    <result column="sell_name" jdbcType="VARCHAR" property="sellName" />
    <result column="zhijian1" jdbcType="VARCHAR" property="zhijian1" />
    <result column="zhijian2" jdbcType="VARCHAR" property="zhijian2" />
    <result column="zhijian3" jdbcType="VARCHAR" property="zhijian3" />
    <result column="customer_name_project" jdbcType="VARCHAR" property="customerNameProject" />
    
    
    <collection property="comments" column="id" select="com.cn.hnust.dao.CommentMapper.selectByShippingId"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_no, serial_number, customer_name, product_name, shipping_way, is_boss_confirm, 
    check_qty, orders, open_qty, spend_time, check_conclusion, no_executed,concessive_accept, meeting_conclusion, 
    not_paid, scale, customer_confirm_way, is_quality_report_en, drawback_product, drawback_rate, 
    shipping_fee, sales_worry, create_time, sales_confirm, sales_confirm_time, purchase_confirm, 
    purchase_confirm_time, quality_leader_confirm, quality_leader_confirm_time, purchase_leader_confirm, 
    purchase_leader_confirm_time, boss_confirm, boss_confirm_time, create_person, is_complete, is_plastic, 
    sample_or_product,box_number,first_person,first_time, second_person,second_time,third_person,third_time,
    fourth_person,fourth_time,complaint_id,sample_file_original_name,sample_file_name,is_send_confirm_task,
    shipment_agreement,is_quality_leader_confirm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    q.id, q.project_no, q.serial_number, q.customer_name, q.product_name, q.shipping_way, q.is_boss_confirm, 
    q.check_qty, q.orders, q.open_qty, q.spend_time, q.check_conclusion, q.no_executed, q.concessive_accept, q.meeting_conclusion, 
    q.not_paid, q.scale, q.customer_confirm_way, q.is_quality_report_en, q.drawback_product, q.drawback_rate, 
    q.shipping_fee, q.sales_worry, q.create_time, q.sales_confirm, q.sales_confirm_time, q.purchase_confirm, q.is_send_confirm_task,
    q.purchase_confirm_time, q.quality_leader_confirm, q.quality_leader_confirm_time, q.purchase_leader_confirm,q.sample_file_original_name,q.sample_file_name, 
    q.purchase_leader_confirm_time, q.boss_confirm, q.boss_confirm_time, q.create_person,q.is_complete, q.is_plastic,q.box_number,q.sample_or_product,
    q.first_person, q.first_time, q.second_person, q.second_time, q.third_person, q.third_time, q.fourth_person, q.fourth_time,q.shipment_agreement,q.is_quality_leader_confirm,
    u.user_name as purchase_name, u1.user_name as sell_name, p.zhijian1, p.zhijian2, p.zhijian3, p.customer_name as customer_name_project      
    from shipping_confirmation q   
    left join project p  
    on q.project_no = p.project_no     
    left join user u on p.purchase_id = u.id    
    left join user u1 on p.email_user_id = u1.id    
    where q.id = #{id,jdbcType=INTEGER}  
  </select>
  <select id="selectCountByProjectNo" resultType="java.lang.Integer" >
    select IFNULL(max(SUBSTRING_INDEX(serial_number,'QR',-1)),0) as num from shipping_confirmation 
    where project_no = #{projectNo,jdbcType=VARCHAR} 
    <!-- type:0  普通出货  1：投诉出货 -->
    <if test="type == 0">
       and complaint_id is null
    </if>
    <if test="type == 1">
       and complaint_id is not null
    </if>
  </select>
  
  
  <select id="selectByComplaintId" resultType="int" >
    select  count(1) from shipping_confirmation   
    where project_no = #{projectNo,jdbcType=VARCHAR} 
  </select>
  
  <select id="selectBySerialNumber" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>  
    from shipping_confirmation where serial_number = #{serialNumber,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectCountByProjectNoAndType" resultType="int" > 
    select count(1) from shipping_confirmation   
    where project_no = #{projectNo,jdbcType=VARCHAR}   
    and sample_or_product = #{sampleOrProduct,jdbcType=INTEGER}   
  </select>
  
  <select id="selectByProjectNo" resultMap="BaseResultMap" parameterType="com.cn.hnust.pojo.ShippingConfirmationQuery">
     select  
    q.id, q.project_no, q.serial_number, q.customer_name, q.product_name, q.shipping_way, q.is_boss_confirm, 
    q.check_qty, q.orders, q.open_qty, q.spend_time, q.check_conclusion, q.no_executed, q.concessive_accept, q.meeting_conclusion, 
    q.not_paid, q.scale, q.customer_confirm_way, q.is_quality_report_en, q.drawback_product, q.drawback_rate, 
    q.shipping_fee, q.sales_worry, q.create_time, q.sales_confirm, q.sales_confirm_time, q.purchase_confirm, q.is_send_confirm_task,
    q.purchase_confirm_time, q.quality_leader_confirm, q.quality_leader_confirm_time, q.purchase_leader_confirm,q.sample_file_original_name,q.sample_file_name, 
    q.purchase_leader_confirm_time, q.boss_confirm, q.boss_confirm_time, q.create_person,q.is_complete, q.is_plastic,q.box_number,q.sample_or_product,
    q.first_person, q.first_time, q.second_person, q.second_time, q.third_person, q.third_time, q.fourth_person, q.fourth_time,q.shipment_agreement,q.is_quality_leader_confirm,
    u.user_name as purchase_name, u1.user_name as sell_name, p.zhijian1, p.zhijian2, p.zhijian3,q.is_send_confirm_task, 
    p.project_amount         
     from    
     shipping_confirmation q    
     left join project p    
     on q.project_no = p.project_no    
     left join user u on p.purchase_id = u.id    
     left join user u1 on p.email_user_id = u1.id    
     where 1=1   
    <choose>
	    <when test="roleNo == 100 or roleNo == 10">
	         <if test="inputKey !=null and inputKey!=''"> 
				AND (
					   (p.project_name like CONCAT('%', #{inputKey}, '%'))
				    	OR (q.project_no like CONCAT('%', #{inputKey}, '%'))
					 )
			 </if> 
	         <if test="sampleOrProduct != null and sampleOrProduct >= 0"> 
				AND q.sample_or_product = #{sampleOrProduct,jdbcType=INTEGER}
			 </if> 
	         <if test="isComplete != null and isComplete >= 0"> 
				AND q.is_complete = #{isComplete,jdbcType=INTEGER}
			 </if> 
			  order by q.create_time desc limit #{pageNumber},#{pageSize} 
	    </when>
	    <otherwise>
	        and (q.create_person = #{userName} OR u1.user_name = #{userName} OR u.user_name = #{userName} OR p.zhijian1= #{userName} OR p.zhijian2= #{userName} OR p.zhijian3= #{userName})  
		    <if test="inputKey !=null and inputKey!=''"> 
					AND (
					   (p.project_name like CONCAT('%', #{inputKey}, '%'))
					OR (q.project_no like CONCAT('%', #{inputKey}, '%'))
					    )
		    </if> 
		     <if test="sampleOrProduct != null and sampleOrProduct >= 0"> 
				AND q.sample_or_product = #{sampleOrProduct,jdbcType=INTEGER}
			 </if> 
	         <if test="isComplete != null and isComplete >= 0"> 
				AND q.is_complete = #{isComplete,jdbcType=INTEGER}
			 </if> 
		     order by q.create_time desc limit #{pageNumber},#{pageSize}
	    </otherwise>
    </choose>   
  </select>
  
  
  
   <select id="count" resultType="int" parameterType="com.cn.hnust.pojo.ShippingConfirmationQuery">
     select  count(1)  from   
     shipping_confirmation q   
     left join project p    
     on q.project_no = p.project_no    
     left join user u on p.purchase_id = u.id  
     left join user u1 on p.email_user_id = u1.id  
     where 1=1   
    <choose>
	    <when test="roleNo == 100 or roleNo == 10">
	         <if test="inputKey !=null and inputKey!=''"> 
				AND (
					   (p.project_name like CONCAT('%', #{inputKey}, '%'))
				    	OR (q.project_no like CONCAT('%', #{inputKey}, '%'))
					 )
			 </if> 
			   <if test="sampleOrProduct != null and sampleOrProduct >= 0"> 
				AND q.sample_or_product = #{sampleOrProduct,jdbcType=INTEGER}
			 </if> 
	         <if test="isComplete != null and isComplete >= 0"> 
				AND q.is_complete = #{isComplete,jdbcType=INTEGER} 
			 </if> 
	    </when>
	    <otherwise>
	        and (q.create_person = #{userName} OR u1.user_name = #{userName} OR u.user_name = #{userName} OR p.zhijian1= #{userName} OR p.zhijian2= #{userName} OR p.zhijian3= #{userName})  
		    <if test="inputKey !=null and inputKey!=''"> 
					AND (
					   (p.project_name like CONCAT('%', #{inputKey}, '%'))
					OR (q.project_no like CONCAT('%', #{inputKey}, '%'))
					    )
		    </if> 		
		      <if test="sampleOrProduct != null and sampleOrProduct >= 0"> 
				AND q.sample_or_product = #{sampleOrProduct,jdbcType=INTEGER}
			 </if> 
	         <if test="isComplete != null and isComplete >= 0"> 
				AND q.is_complete = #{isComplete,jdbcType=INTEGER}
			 </if>      
	    </otherwise>
    </choose>   
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shipping_confirmation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.ShippingConfirmation" >
    insert into shipping_confirmation (id, project_no, serial_number, 
      customer_name, product_name, shipping_way, 
      is_boss_confirm, check_qty, orders, 
      open_qty, spend_time, check_conclusion, 
      no_executed, meeting_conclusion, not_paid, 
      scale, customer_confirm_way, is_quality_report_en, 
      drawback_product, drawback_rate, shipping_fee, 
      sales_worry, create_time, sales_confirm, 
      sales_confirm_time, purchase_confirm, purchase_confirm_time, 
      quality_leader_confirm, quality_leader_confirm_time, 
      purchase_leader_confirm, purchase_leader_confirm_time, 
      boss_confirm, boss_confirm_time)
    values (#{id,jdbcType=INTEGER}, #{projectNo,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{shippingWay,jdbcType=VARCHAR}, 
      #{isBossConfirm,jdbcType=INTEGER}, #{checkQty,jdbcType=VARCHAR}, #{orders,jdbcType=VARCHAR}, 
      #{openQty,jdbcType=VARCHAR}, #{spendTime,jdbcType=VARCHAR}, #{checkConclusion,jdbcType=VARCHAR}, 
      #{noExecuted,jdbcType=VARCHAR}, #{meetingConclusion,jdbcType=VARCHAR}, #{notPaid,jdbcType=VARCHAR}, 
      #{scale,jdbcType=VARCHAR}, #{customerConfirmWay,jdbcType=VARCHAR}, #{isQualityReportEn,jdbcType=INTEGER}, 
      #{drawbackProduct,jdbcType=VARCHAR}, #{drawbackRate,jdbcType=VARCHAR}, #{shippingFee,jdbcType=VARCHAR}, 
      #{salesWorry,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{salesConfirm,jdbcType=VARCHAR}, 
      #{salesConfirmTime,jdbcType=TIMESTAMP}, #{purchaseConfirm,jdbcType=VARCHAR}, #{purchaseConfirmTime,jdbcType=TIMESTAMP}, 
      #{qualityLeaderConfirm,jdbcType=VARCHAR}, #{qualityLeaderConfirmTime,jdbcType=TIMESTAMP}, 
      #{purchaseLeaderConfirm,jdbcType=VARCHAR}, #{purchaseLeaderConfirmTime,jdbcType=TIMESTAMP}, 
      #{bossConfirm,jdbcType=VARCHAR}, #{bossConfirmTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.ShippingConfirmation" useGeneratedKeys="true" keyProperty="id">
    insert into shipping_confirmation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectNo != null" >
        project_no,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="shippingWay != null" >
        shipping_way,
      </if>
      <if test="isBossConfirm != null" >
        is_boss_confirm,
      </if>
      <if test="checkQty != null" >
        check_qty,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="openQty != null" >
        open_qty,
      </if>
      <if test="spendTime != null" >
        spend_time,
      </if>
      <if test="checkConclusion != null" >
        check_conclusion,
      </if>
      <if test="noExecuted != null" >
        no_executed,
      </if>
      <if test="meetingConclusion != null" >
        meeting_conclusion,
      </if>
      <if test="notPaid != null" >
        not_paid,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="customerConfirmWay != null" >
        customer_confirm_way,
      </if>
      <if test="isQualityReportEn != null" >
        is_quality_report_en,
      </if>
      <if test="drawbackProduct != null" >
        drawback_product,
      </if>
      <if test="drawbackRate != null" >
        drawback_rate,
      </if>
      <if test="shippingFee != null" >
        shipping_fee,
      </if>
      <if test="salesWorry != null" >
        sales_worry,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="salesConfirm != null" >
        sales_confirm,
      </if>
      <if test="salesConfirmTime != null" >
        sales_confirm_time,
      </if>
      <if test="purchaseConfirm != null" >
        purchase_confirm,
      </if>
      <if test="purchaseConfirmTime != null" >
        purchase_confirm_time,
      </if>
      <if test="qualityLeaderConfirm != null" >
        quality_leader_confirm,
      </if>
      <if test="qualityLeaderConfirmTime != null" >
        quality_leader_confirm_time,
      </if>
      <if test="purchaseLeaderConfirm != null" >
        purchase_leader_confirm,
      </if>
      <if test="purchaseLeaderConfirmTime != null" >
        purchase_leader_confirm_time,
      </if>
      <if test="bossConfirm != null" >
        boss_confirm,
      </if>
      <if test="bossConfirmTime != null" >
        boss_confirm_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="complaintId != null" >
        complaint_id,
      </if>
      <if test="isQualityLeaderConfirm != null" >
        is_quality_leader_confirm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectNo != null" >
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="shippingWay != null" >
        #{shippingWay,jdbcType=VARCHAR},
      </if>
      <if test="isBossConfirm != null" >
        #{isBossConfirm,jdbcType=INTEGER},
      </if>
      <if test="checkQty != null" >
        #{checkQty,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=VARCHAR},
      </if>
      <if test="openQty != null" >
        #{openQty,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null" >
        #{spendTime,jdbcType=VARCHAR},
      </if>
      <if test="checkConclusion != null" >
        #{checkConclusion,jdbcType=VARCHAR},
      </if>
      <if test="noExecuted != null" >
        #{noExecuted,jdbcType=VARCHAR},
      </if>
      <if test="meetingConclusion != null" >
        #{meetingConclusion,jdbcType=VARCHAR},
      </if>
      <if test="notPaid != null" >
        #{notPaid,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="customerConfirmWay != null" >
        #{customerConfirmWay,jdbcType=VARCHAR},
      </if>
      <if test="isQualityReportEn != null" >
        #{isQualityReportEn,jdbcType=INTEGER},
      </if>
      <if test="drawbackProduct != null" >
        #{drawbackProduct,jdbcType=VARCHAR},
      </if>
      <if test="drawbackRate != null" >
        #{drawbackRate,jdbcType=VARCHAR},
      </if>
      <if test="shippingFee != null" >
        #{shippingFee,jdbcType=VARCHAR},
      </if>
      <if test="salesWorry != null" >
        #{salesWorry,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesConfirm != null" >
        #{salesConfirm,jdbcType=VARCHAR},
      </if>
      <if test="salesConfirmTime != null" >
        #{salesConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseConfirm != null" >
        #{purchaseConfirm,jdbcType=VARCHAR},
      </if>
      <if test="purchaseConfirmTime != null" >
        #{purchaseConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityLeaderConfirm != null" >
        #{qualityLeaderConfirm,jdbcType=VARCHAR},
      </if>
      <if test="qualityLeaderConfirmTime != null" >
        #{qualityLeaderConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseLeaderConfirm != null" >
        #{purchaseLeaderConfirm,jdbcType=VARCHAR},
      </if>
      <if test="purchaseLeaderConfirmTime != null" >
        #{purchaseLeaderConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bossConfirm != null" >
        #{bossConfirm,jdbcType=VARCHAR},
      </if>
      <if test="bossConfirmTime != null" >
        #{bossConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="complaintId != null" >
        #{complaintId,jdbcType=INTEGER},
      </if>
      <if test="isQualityLeaderConfirm != null" >
        #{isQualityLeaderConfirm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.ShippingConfirmation" >
    update shipping_confirmation
    <set >
      <if test="projectNo != null" >
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="shippingWay != null" >
        shipping_way = #{shippingWay,jdbcType=VARCHAR},
      </if>
      <if test="isBossConfirm != null" >
        is_boss_confirm = #{isBossConfirm,jdbcType=INTEGER},
      </if>
      <if test="checkQty != null" >
        check_qty = #{checkQty,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=VARCHAR},
      </if>
      <if test="openQty != null" >
        open_qty = #{openQty,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null" >
        spend_time = #{spendTime,jdbcType=VARCHAR},
      </if>
      <if test="checkConclusion != null" >
        check_conclusion = #{checkConclusion,jdbcType=VARCHAR},
      </if>
      <if test="noExecuted != null" >
        no_executed = #{noExecuted,jdbcType=VARCHAR},
      </if>
      <if test="concessiveAccept != null" >
        concessive_accept = #{concessiveAccept,jdbcType=VARCHAR},
      </if>
      <if test="meetingConclusion != null" >
        meeting_conclusion = #{meetingConclusion,jdbcType=VARCHAR},
      </if>
      <if test="notPaid != null" >
        not_paid = #{notPaid,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="customerConfirmWay != null" >
        customer_confirm_way = #{customerConfirmWay,jdbcType=VARCHAR},
      </if>
      <if test="isQualityReportEn != null" >
        is_quality_report_en = #{isQualityReportEn,jdbcType=INTEGER},
      </if>
      <if test="drawbackProduct != null" >
        drawback_product = #{drawbackProduct,jdbcType=VARCHAR},
      </if>
      <if test="drawbackRate != null" >
        drawback_rate = #{drawbackRate,jdbcType=VARCHAR},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=VARCHAR},
      </if>
      <if test="salesWorry != null" >
        sales_worry = #{salesWorry,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesConfirm != null" >
        sales_confirm = #{salesConfirm,jdbcType=VARCHAR},
      </if>
      <if test="salesConfirmTime != null" >
        sales_confirm_time = #{salesConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseConfirm != null" >
        purchase_confirm = #{purchaseConfirm,jdbcType=VARCHAR},
      </if>
      <if test="purchaseConfirmTime != null" >
        purchase_confirm_time = #{purchaseConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityLeaderConfirm != null" >
        quality_leader_confirm = #{qualityLeaderConfirm,jdbcType=VARCHAR},
      </if>
      <if test="qualityLeaderConfirmTime != null" >
        quality_leader_confirm_time = #{qualityLeaderConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseLeaderConfirm != null" >
        purchase_leader_confirm = #{purchaseLeaderConfirm,jdbcType=VARCHAR},
      </if>
      <if test="purchaseLeaderConfirmTime != null" >
        purchase_leader_confirm_time = #{purchaseLeaderConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bossConfirm != null" >
        boss_confirm = #{bossConfirm,jdbcType=VARCHAR},
      </if>
      <if test="bossConfirmTime != null" >
        boss_confirm_time = #{bossConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isComplete != null" >
        is_complete = #{isComplete,jdbcType=INTEGER},
      </if>
      <if test="isPlastic != null" >   
        is_plastic = #{isPlastic,jdbcType=INTEGER}, 
      </if>
      <if test="sampleOrProduct != null" >   
        sample_or_product = #{sampleOrProduct,jdbcType=INTEGER}, 
      </if>
      <if test="boxNumber != null" >   
        box_number = #{boxNumber,jdbcType=VARCHAR}, 
      </if>
      <if test="firstPerson != null" >   
        first_person = #{firstPerson,jdbcType=VARCHAR}, 
      </if>
      <if test="firstTime != null" >   
        first_time = #{firstTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="secondPerson != null" >   
        second_person = #{secondPerson,jdbcType=VARCHAR}, 
      </if>
      <if test="secondTime != null" >   
        second_time = #{secondTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="thirdPerson != null" >   
        third_person = #{thirdPerson,jdbcType=VARCHAR}, 
      </if>
      <if test="thirdTime != null" >   
        third_time = #{thirdTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="fourthPerson != null" >   
        fourth_person = #{fourthPerson,jdbcType=VARCHAR}, 
      </if>
      <if test="fourthTime != null" >   
        fourth_time = #{fourthTime,jdbcType=TIMESTAMP}, 
      </if>
      <if test="sampleFileOriginalName != null" >   
        sample_file_original_name = #{sampleFileOriginalName,jdbcType=VARCHAR}, 
      </if>
      <if test="sampleFileName != null" >   
        sample_file_name = #{sampleFileName,jdbcType=VARCHAR}, 
      </if>
      <if test="isSendConfirmTask != null" >   
        is_send_confirm_task = #{isSendConfirmTask,jdbcType=INTEGER}, 
      </if>
      <if test="shipmentAgreement != null" >   
        shipment_agreement = #{shipmentAgreement,jdbcType=VARCHAR}, 
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.ShippingConfirmation" >
    update shipping_confirmation
    set project_no = #{projectNo,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      shipping_way = #{shippingWay,jdbcType=VARCHAR},
      is_boss_confirm = #{isBossConfirm,jdbcType=INTEGER},
      check_qty = #{checkQty,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=VARCHAR},
      open_qty = #{openQty,jdbcType=VARCHAR},
      spend_time = #{spendTime,jdbcType=VARCHAR},
      check_conclusion = #{checkConclusion,jdbcType=VARCHAR},
      no_executed = #{noExecuted,jdbcType=VARCHAR},
      meeting_conclusion = #{meetingConclusion,jdbcType=VARCHAR},
      not_paid = #{notPaid,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      customer_confirm_way = #{customerConfirmWay,jdbcType=VARCHAR},
      is_quality_report_en = #{isQualityReportEn,jdbcType=INTEGER},
      drawback_product = #{drawbackProduct,jdbcType=VARCHAR},
      drawback_rate = #{drawbackRate,jdbcType=VARCHAR},
      shipping_fee = #{shippingFee,jdbcType=VARCHAR},
      sales_worry = #{salesWorry,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sales_confirm = #{salesConfirm,jdbcType=VARCHAR},
      sales_confirm_time = #{salesConfirmTime,jdbcType=TIMESTAMP},
      purchase_confirm = #{purchaseConfirm,jdbcType=VARCHAR},
      purchase_confirm_time = #{purchaseConfirmTime,jdbcType=TIMESTAMP},
      quality_leader_confirm = #{qualityLeaderConfirm,jdbcType=VARCHAR},
      quality_leader_confirm_time = #{qualityLeaderConfirmTime,jdbcType=TIMESTAMP},
      purchase_leader_confirm = #{purchaseLeaderConfirm,jdbcType=VARCHAR},
      purchase_leader_confirm_time = #{purchaseLeaderConfirmTime,jdbcType=TIMESTAMP},
      boss_confirm = #{bossConfirm,jdbcType=VARCHAR},
      boss_confirm_time = #{bossConfirmTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>